my.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ignite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="vehicle" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="brand"/>
              <xs:element type="xs:string" name="vehicleno"/>
              <xs:element type="xs:string" name="des"/>
              <xs:element type="xs:byte" name="categoryid"/>
              <xs:element type="xs:string" name="servicetype"/>
              <xs:element type="xs:int" name="status"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="customer" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:long" name="phone"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="usetype"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="mechanic">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:long" name="phone"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:string" name="usetype"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="admin">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="address"/>
              <xs:element type="xs:string" name="phone"/>
              <xs:element type="xs:string" name="email"/>
              <xs:element type="xs:string" name="usetype"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="messagebox">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="userstype"/>
              <xs:element type="xs:int" name="userid"/>
              <xs:element name="to">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:int" name="id"/>
                    <xs:element type="xs:string" name="usetype"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="time"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="category" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="id"/>
              <xs:element type="xs:string" name="type"/>
              <xs:element type="xs:int" name="noofveh"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>